@font-face {
    font-family:'LGC' ;
    src: url("fonts/LGC.ttf");
}
*
{
    font-family:sans-serif;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5) url('../images/lambo.jpg') center center;
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header>nav
{
    display: flex;
    justify-content: space-between;
}
.div1
{
    display: flex;
    width : 20%;
    margin : 10px 0 0 70px;
    justify-content: space-around;
}
.div2
{
    display: flex;
    width : 20%;
    margin : 10px 70px 0 0;
    justify-content: space-around;
}
.div1 > h1
{
    color : yellow;
}
a
{
    text-decoration: none;
}
.explore,.service
{
    margin-top: 5px;
}
.div2>.bouton
{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    background-color: yellow;
    color : black;
    width: 80px;
    height: 30px;
    transition: 2s ease;
}

section
{
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
}
.section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:600px;
    height: 400px;
    margin-top: 80px;
    margin-left: 200px;
    gap: 20px;
}
.section>h1
{
    font-size: 50px;
}
.section>input[type="text"]
{
    width: 400px;
    height: 40px;
    padding-left: 10px;
    margin-left: 100px;
    border-radius: 3px;
    border: none;
}
.section>.search
{
    width:80px;
    height: 40px;
    background-color: yellow;
    border-radius: 3px;
    border:none;
    color:black;
    cursor: pointer;
    transition: 2s ease;
}
.aside
{
    display: flex;
    background-color: rgba(32, 31, 31);
    flex-direction: column;
    justify-content:flex-start;
    width:400px;
    height: 400px;
    gap: 20px;
    padding: 30px;
}
.aside>input[type="email"],.aside>input[type="password"]
{
    width: 250px;
    height: 40px;
    padding-left: 10px;
    border-radius: 3px;
    border: none;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 2s ease;
}

.aside>input[type="submit"]
{
    width: 250px;
    height: 40px;
    background-color: yellow;
    text-align: center;
    color:black;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    transition: 2s ease;
}

.aside>.fp
{
    color:yellow;
    padding-left: 80px;
}
.aside>.na
{
    display: block;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    color:black;
    border-radius: 5px;
    transition: 2s ease;
}

.explore:hover
{
color:yellow;
}
.fp:hover
{
    color:white;
}
.bouton:hover,.search:hover,.na:hover,.login:hover
{
    background-color: black;
    color: white;
}
